// Size's

$size__max-width: 1300px;
$size__border-height: 1px;
$size__border-radius: 20px;

// colors

// Main
$color__light: #ffffff;
$color__dark: #000000;
$color__disabled: #8d8d8d;
$color__blocked: #3b3b3b;
$color__light: #ffffff;

// Dark theme
$color__dark-body-bg: #141416;
$color__dark-component-bg: #181818;
$color__dark-component-toggle-bg: #1b1c1d;
$color__dark-active: #cb206e;

// Blue theme
$color__blue-body-bg: #13131a;
$color__blue-component-bg: #21212e;
$color__blue-component-toggle-bg: #1a1c24;
$color__blue-active: #3452ee;

// Light theme
$color__light-body-bg: #f6f6f6;
$color__light-component-bg: #ccd9e3;
$color__light-component-toggle-bg: #ffffff;
$color__light-active: #518cff;
